{% extends "main/header.html" %}

{% block content %}
  <div class="row">
  	{% for srs in category %}
	    <div class="col s12 m6 l4">
	      <div class="card blue darken-1">
	        <div class="card-content white-text">
	          <span class="card-title">{{srs.tutorial_series}}</span>
	          <p style="font-size:70%">{{srs.series_summmary}}</p>
	        </div>
	        <div class="card-action">
	          <a href="/series">Visit</a>
	        </div>
	      </div>
   		</div>
    {% endfor %}
  </div>
{% endblock %}
