{% extends "main/header.html" %}
       
{% block content %}
  <div class="row">
	    <div class="col s12 m6 l4">
	      <div class="card blue darken-1">
	        <div class="card-content white-text">
	          <span class="card-title">Tictactoe</span>
	          <p style="font-size:100%">Enjoy the beautifully simple game as many times as you please!</p>
	        </div>
	        <div class="card-action">
	          <li><a href="/game/tictactoe">Visit</a></li>
	        </div>
	      </div>
   		</div>
	    <div class="col s12 m6 l4">
	      <div class="card blue darken-1">
	        <div class="card-content white-text">
	          <span class="card-title">Snake Game</span>
	          <p style="font-size:100%">Long live retro!</p>
	        </div>
	        <div class="card-action">
	          <li><a href="/game/snake">Visit</a></li>
	        </div>
	      </div>
   		</div>
   		<div class="col s12 m6 l4">
	      <div class="card blue darken-1">
	        <div class="card-content white-text">
	          <span class="card-title">Space Invaders!</span>
	          <p style="font-size:100%">Keep the aliens from winning</p>
	        </div>
	        <div class="card-action">
	          <li><a href="/game/spaceInvaders">Visit</a></li>
	        </div>
	      </div>
   		</div>
  </div>
{% endblock %}

<script>
	cat_name = cat.tutorial_category
</script>